#include <windows.h>
#include "resource.h"

IDR_MYMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", ID_FILE_NEW
		MENUITEM "&Open", ID_FILE_OPEN
		MENUITEM "&Save", ID_FILE_SAVEAS
		MENUITEM "E&xit", ID_FILE_EXIT
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About", ID_HELP_ABOUT
		POPUP "&Tool Window"
		BEGIN
			MENUITEM "Sh&ow", ID_TOOLW_SHOW
			MENUITEM "H&ide", ID_TOOLW_HIDE
		END
	END
END

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 190, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Win32 Template"	
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON		"&OK", IDOK, 40, 70, 50, 15
	PUSHBUTTON		"&Cancel", IDCANCEL, 100, 70, 50, 15
	GROUPBOX		"About Win32 Template", IDC_STATIC, 5, 5, 180, 50
	CTEXT			"This program is about Win32 template.", IDC_STATIC, 20, 20, 150, 30
END

ID_TOOLWINDOW DIALOGEX 0, 0, 90, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Tool Dialog"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON	"&Press Me", IDC_PRESS, 25, 5, 40, 15
	PUSHBUTTON	"&Or Me", IDC_OTHER, 25, 30, 40, 15
END	
